.wrapper{
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:center;
    text-align: center;
}
.wrapper button{
    
    background-color: #a58c8c;
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.wrapper h1{
    color: #a58c8c;

    
}
.wrapper .accordian{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}
.wrapper .accordian .item{
    border-radius:  5px;
    padding: 5px 10px;
    background-color: #a58c8c;
    box-shadow: 0 0 7px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 90%;
    gap: 5px;
}
.item .title{
  
    position: relative;
    width: 100%;
    
}
.item .title h3{
    color:white;
    font-weight: bold;
    padding: 0px 23px;
}
.item .btn{
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    padding-left: 5px;
    right: 0;
    top: 0;
    
    
}
.item .title .btn:hover{
    color: #5d2828;
}
.item .answer{
    overflow: auto;
    color: #ccc;
    text-align: center;
    align-content: center;
}